.addModal-backdrop {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(17, 17, 17, 0.6);
    z-index: 1001;
}

.addModal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 18px;
    border: 2px solid #111;
    background-color: #FFF;
    width: 579px;
    padding: 40px;
    display: flex;
    flex-wrap: wrap;

    @media screen and (max-width: 767px) {
        width: 335px;
        padding: 40 24 40 24;
    }
}

.addModal__close-button {
    flex-shrink: 0;
    background: none;
    border: none;
    position: absolute;
    top: 24px;
    right: 24px;

    @media screen and (max-width: 767px) {
        top: 12px;
        right: 12px;
    }
}

.addModal__close-icon {
    width: 28px;
    height: 28px;
    stroke: #000000;
}

.addModal__img {
    width: 192px;
    height: 281px;
    border-radius: 8px;
    margin-right: 24px;

    @media screen and (max-width: 767px) {
        width: 287px;
        height: 408px;
        margin-right: 0;
        margin-bottom: 14px;
    }
}

.addModal__info-div {
    width: 279px;
}

.addModal__title {
    color: #111;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.96px;
    margin-bottom: 8px;

    @media screen and (max-width: 767px) {
        font-size: 16px;
        line-height: 18px;
        letter-spacing: -0.64px;
        margin-bottom: 4px;
    }
}

.addModal__name {
    color: #B4AFAF;
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.56px;
    margin-bottom: 20px;

    @media screen and (max-width: 767px) {
        font-size: 12px;
        line-height: 14px;
        letter-spacing: -0.48px;
        margin-bottom: 18px;
    }
}

.addModal__text {
    color: #111;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.56px;
    margin-bottom: 20px;

    @media screen and (max-width: 767px) {
        margin-bottom: 14px;
    }
}

.addModal__amazon-logo {
    width: 62px;
    height: 19px;
    margin-right: 20px;

    @media screen and (max-width: 767px) {
        width: 62px;
        height: 19px;
    }
}

.addModal__apple-books-logo {
    width: 33px;
    height: 32px;
}

.addModal__button {
    border-radius: 40px;
    border: 2px solid #4F2EE8;
    color: #111;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.18px;
    text-transform: uppercase;
    display: flex;
    width: 499px;
    height: 64px;
    justify-content: center;
    align-items: center;
    background: none;
    margin-top: 40px;

    @media screen and (max-width: 767px) {
        display: inline-flex;
        padding: 14px 28px;
        align-items: flex-start;
        gap: 10px;
        width: 211px;
        height: 46px;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: -0.14px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 58px;
    }
}