.deletModal-backdrop {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(17, 17, 17, 0.6);
    z-index: 1001;
}

.deletModal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 18px;
    border: 2px solid #111;
    background-color: #FFF;
    width: 579px;
    height: 465px;
    padding-top: 40px;
    padding-left: 40px;
    display: flex;
    flex-wrap: wrap;
}

.deletModal__close-button {
    flex-shrink: 0;
    background: none;
    border: none;
    position: absolute;
    top: 24px;
    right: 24px;
    transform: translate(25%, 0%);
}

.deletModal__close-icon {
    width: 28px;
    height: 28px;
    // fill: #000000;
    stroke: #000000;
}

.deletModal__img {
    width: 192px;
    height: 281px;
    border-radius: 8px;
    margin-right: 28px;
}

.deletModal__info-div {
    width: 279px;
}

.deletModal__title {
    color: #111;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.96px;
    margin-bottom: 8px;
}

.deletModal__name {
    color: #B4AFAF;
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.56px;
    margin-bottom: 20px;
}

.deletModal__text {
    color: #111;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.56px;
    margin-bottom: 20px;
}

.deletModal__amazon-logo {
    width: 62px;
height: 19px;
margin-right: 20px;
}

.deletModal__apple-books-logo {
    width: 33px;
    height: 32px;
}

.deletModal__button {
    border-radius: 40px;
    border: 2px solid #4F2EE8;
    color: #111;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.18px;
    text-transform: uppercase;
    display: flex;
    width: 499px;
    height: 64px;
    justify-content: center;
    align-items: center;
    background: none;
}